# Information about your local installation
LOCAL_URL="example.test"
LOCAL_PROTOCOL="https"
LOCAL_WEB_ROOT="/Users/c3po/Sites/example/wwwroot"
# The folder name of your theme
WP_THEME="mytheme"
# Deploy these directories (RELATIVE to your working directory)
DEPLOY_DIRS="core content/plugins content/themes/mytheme"

# Production SSH credentials
PROD_SSH_HOST="example.com"
PROD_SSH_USER="c3po"
PROD_WEB_ROOT="/absolute/path/to/production/webroot"
# Production URL information
PROD_URL="example.com"
PROD_PROTOCOL="https"
# Production cache path (relative to PROD_WEB_ROOT)
PROD_CACHE_PATH="/absolute/path/to/cache/folder"

# Staging SSH credentials
STAG_SSH_HOST="example.com"
STAG_SSH_USER="c3po"
STAG_WEB_ROOT="/absolute/path/to/staging/webroot"
# Staging URL information
STAG_URL="staging.example.com"
STAG_PROTOCOL="https"
# Staging cache path (relative to STAG_WEB_ROOT)
STAG_CACHE_PATH="/absolute/path/to/cache/folder"

# Local database credentials
LOCAL_DB_NAME=""
LOCAL_DB_USER="root"
LOCAL_DB_PASS="root"
LOCAL_DB_HOST="localhost"

# Remote database credentials (no support for production/staging ATM)
REMOTE_DB_NAME=""
REMOTE_DB_USER=""
REMOTE_DB_PASS=""
REMOTE_DB_HOST=""